.examples-table {
    font-size: '.875rem';
    width: '100%';
    max-width: '64rem';
    margin-right: 'auto';
    margin-left: 'auto';
}

.examples-cell {
    padding: '0.25rem';
    border-bottom-style: 'solid';
    border-bottom-width: '1px';
    border-color: 'rgba( 0, 0, 0, .2 )';
}
